---
port: 80
profiles:
  # This defines a base profile, as it has AWS keys in it. Normaly a user like
  # this should only be allowd to assume other roles if MFA has been provided.
  # If an MFA serial is defined in the profile limes will promt for a MFA key
  # when needed.
  user:
    aws_access_key_id: xxxxxxxxxxxxxxxxxxxx
    aws_secret_access_key: yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
    role_session_name: yourusername
    region: eu-west-1
    mfa_serial: arn:aws:iam::123456789012:mfa/yourusername

  # This is an example of an profile that can not be assumed as
  # `protected: true` is defined on the profile. Only `limes run` and `limes env`
  # will be allowed.
  admin:
    role_arn: arn:aws:iam::123456789012:role/admin
    source_profile: user
    protected: true
    region: eu-west-1

  # This is an example of an profile that can be assumed with `limes assume readonly`
  readonly:
    role_arn: arn:aws:iam::123456789012:role/readonly
    source_profile: user
    region: eu-west-1
